################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/source/ProducerConsumer/.vs/ProducerConsumer/v16
/source/ProducerConsumer/packages/MahApps.Metro.1.4.1
/source/ProducerConsumer/ProducerConsumer.Core/bin/Debug
/source/ProducerConsumer/ProducerConsumer.Core/obj/Debug
/source/ProducerConsumer/ProducerConsumer.Wpf/bin/Debug
/source/ProducerConsumer/ProducerConsumer.Wpf/obj
/Musterlösung/csharp_samples_events_producerconsumer-solution-master/source/ProducerConsumer/.vs/ProducerConsumer/v16
/Musterlösung/csharp_samples_events_producerconsumer-solution-master/source/ProducerConsumer/packages/MahApps.Metro.1.4.1
/Musterlösung/csharp_samples_events_producerconsumer-solution-master/source/ProducerConsumer/ProducerConsumer.Core/bin/Debug
/Musterlösung/csharp_samples_events_producerconsumer-solution-master/source/ProducerConsumer/ProducerConsumer.Core/obj
/Musterlösung/csharp_samples_events_producerconsumer-solution-master/source/ProducerConsumer/ProducerConsumer.Wpf/bin/Debug
/Musterlösung/csharp_samples_events_producerconsumer-solution-master/source/ProducerConsumer/ProducerConsumer.Wpf/obj
